* {
  margin: 0px;
}

html {
  /* margin: 0px 250px; */
  background-color: #eeeeee;
}

body {
  padding: 3.5em;
  background-color: #fefefe;
}

#header {
  margin-top: -20px;
  border-bottom: 2px solid lightgray;
}

h1 {
  font-weight: 600;
  color: #090909;
}

h2, h3 {
  font-weight: 600;
  color: #323030;
}

#header {
  padding: 25px 0px;
}

#tool-div {
  padding-top: 2.5em;
}

#appeal-div {
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  padding: 1.5em 0em;
  margin: 30px 0px;
  font-family: sans-serif;
}

p {
  margin: 15px 0px;
  color: #3c3a3a;
  line-height: 1.4em;
  font-size: 17px;
  font-family: sans-serif;
}

#inline-box {
  border: 2px solid lightgray;
  margin: 40px 0px;
  padding: 2em;
}

.inline-div {
  font-family: sans-serif;
  border: 0px solid black;
  margin: 0px;
  padding: 0em;
  padding-top: 1em;
}
