:root {
  --bg-col: rgb(229, 186, 254);
  --col: rgb(69, 14, 100);
  --container-col: rgb(159, 46, 224);
  --child-col: rgb(255, 151, 15);
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

section {
  padding: 1em 4em 1em 2em;
  max-width: fit-content;
  background-color: var(--bg-col);
  margin: 50px 0;
}

.main {
  color: var(--col);
  width: 900px;
}

.flex {
  display: flex;
  border: 1px solid black;
  padding: 0.5em 0;
  border-radius: 5px;
  background-color: var(--container-col);
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.title {
  font-size: 1.3em;
  font-family: cursive;
}

.child {
  background-color: var(--child-col);
  border: 1px solid black;
  border-radius: 10px;
  height: 150px;
  margin: 0 10px;
}

.xl {
  width: 200px;
}

.md {
  width: 150px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}

.align-child {
  background-color: var(--child-col);
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 10px;
  width: 180px;
  padding: 1em;
}

.align-items-baseline .v-xl,
.align-items-start .v-xl,
.align-items-center .v-xl,
.align-items-end .v-xl {
  height: 200px;
  font-size: large;
}

.align-items-baseline .v-sm,
.align-items-start .v-sm,
.align-items-center .v-sm,
.align-items-end .v-sm {
  height: 100px;
  font-size: small;
}

.v-xxl {
  height: 250px;
  font-size: larger;
}

.align-items-baseline .v-md,
.align-items-start .v-md,
.align-items-center .v-md,
.align-items-end .v-md {
  font-size: medium;
  height: 150px;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-content .main {
  width: 500px;
}

.align-content .flex {
  height: 200px;
  flex-wrap: wrap;
}

.a-c-child {
  background-color: var(--child-col);
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 10px;
  min-height: 30px;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.a-c-sm {
  width: 40px;
}

.a-c-md {
  width: 80px;
}

.a-c-xl {
  width: 120px;
}

.a-c-xxl {
  width: 140px;
}
